<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">NewsApp - Home Page</ion-title>
  </ion-navbar>
</ion-header>
<!-- redesign this template to contain a carousel/slider on top with list below that -->

<ion-content class="home has-header">
  <div class="slider-container">
  <ion-slides pager = "true" [options]="features" #myHeader>
    <ion-slide *ngFor="let newsItem of news" >
      <div class="slide">
      <img src="{{newsItem.urlToImage}}" (click)="openBrowser(newsItem.url)" />
      <h4 style="align-content: center;" (click)="openBrowser(newsItem.url)">{{newsItem.title}}</h4>
      </div>
    </ion-slide>
  </ion-slides>
<!--   <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
  </div>
  <ion-list>
    <ion-item *ngFor="let newsItem of news">
      <ion-thumbnail item-left>
        <img src="{{newsItem.urlToImage}}">
      </ion-thumbnail>
      <h2><b>{{newsItem.title}}</b></h2>
      <h4> By {{newsItem.author}} </h4>
      <p> {{newsItem.description}} </p>
      <!-- <a href="{{newsItem.url}}">More Info</a> -->
      <button ion-button (click)="openBrowser(newsItem.url)">More Info</button>
    </ion-item>
  </ion-list>
</ion-content>