<ion-header>
  <ion-navbar primary>
  <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title style="text-align: center">{{ title }}</ion-title>

    <ion-buttons end>
    <button ion-button style="align-self: center;" (click)="itemTapped()">
      <ion-icon name="home"></ion-icon>
      Home
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list text-wrap>
    <ion-item *ngFor="let newsItem of news">
      <!-- <ion-card> -->
      <ion-thumbnail item-left>
        <img src="{{newsItem.urlToImage}}">
      </ion-thumbnail>
      <h2><b>{{newsItem.title}}</b></h2>
      <h4> By {{newsItem.author}} </h4>
      <p> {{newsItem.description}} </p>
      <!-- <a href="{{newsItem.url}}">More Info</a> -->
      <button ion-button (click)="openBrowser(newsItem.url)">More Info</button>
      <!-- </ion-card> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-only (click)="twitterShare(newsItem.urlToImage, newsItem.url)" color="dark" clear>
              <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only (click)="whatsappShare(newsItem.urlToImage, newsItem.url)" color="dark" clear>
              <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only (click)="instagramShare(newsItem.urlToImage, newsItem.url)" color="dark" clear>
              <ion-icon class="share-icon" name="logo-instagram"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
